{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-8">
    <h1 class="mb-2 title">Countries and Capitals</h1>
    <div class="input-group mb-3">
      <input
        type="text"
        class="frrm form-control"
        id="searchInput"
        placeholder="Search country..."
        autocomplete="off"
      />
      <button
        class="btnSearch btn-outline-secondary"
        type="button"
        id="searchButton"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </div>
    <div id="searchSuggestions" class="suggestions-container"></div>
    <!-- Suggestions container moved here -->
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div id="countriesList">
      <!-- The country data will be inserted here by JavaScript -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex">
    <button
      type="button"
      class="btn btn-outline"
      id="prevButton"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      data-bs-title="previous"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
    </button>
    <button
      type="button"
      class="btn btn-outline"
      id="nextButton"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      data-bs-title="next"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
        />
      </svg>
    </button>
  </div>
</div>
{% endblock %}
